html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Nunito", sans-serif;
}

/* Use flexbox */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bottom-banner {
    text-align: center;
    color: black;
}
.button {
    padding: 20px 40px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.2s ease;
    position: relative;
    z-index: 10;
}

.button:hover {
    transform: scale(1.05);
}

.row:nth-child(1) {
    background-image: url("https://images.pexels.com/photos/10189075/pexels-photo-10189075.jpeg");
}

.row:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1586439586787-d78fdcdcfb9f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.row:nth-child(3) {
    background-image: url("https://images.pexels.com/photos/31315365/pexels-photo-31315365/free-photo-of-redstart-bird-perched-on-wooden-ledge-in-sunlight.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.button-lapwing {
    background-color: rgba(112,128,144,0.8);
    color: white;
}

.button-blackbird {
    background-color: rgba(119,136,153,0.8);
    color: white;
}

.button-redstart {
    background-color: rgba(105,105,105,0.8);
    color: white;
}

#collegewebsite {
    text-align: center;
    color: black;
}
